*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: #00c0d5;
}
.alert {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    background-color: #f44336;
    color: white;
}
/* Login and register screen */
.login-container{
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 200px auto 200px;
}
.login-error{
    position: sticky;
    top: 15px;
    display: block;
    padding: 5px;
    background-color: #ff0000;
    color: #ffffff;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}
#login-header{
    background-image: url("images/login-head.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 200px;
}
#login-form{
    text-align: center;
}
#login-form .login-field{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    padding: 15px;
    border: 10px solid;
    border-radius: 10px;
    border-width: 0.5px;
    font-size: 1.2em;
    text-align: center;
}
#login-form button{
    background-color: #224e49;
    color: white;
    display: block;
    width: 8em;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
}
#login-form button:hover{
    opacity: 0.8;
    background-color: #00a071;
}
#login-form h2{
    font-size: 1.1em;
    color: #00a071;
    margin-top: 10px;
    cursor: pointer;
}
#login-footer{
    background-image: url("images/login-footer.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 200px;
}
/* Login and register screen */

/* Content */
/*
.content-container{
    display: grid;
    grid-template-rows: 80px auto 40px;
    height: 100vh;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.content-header{
    overflow: hidden;
    background-color: #ff0000;
}
.content{
    overflow: auto;
    background-color: aliceblue;
}
.listDiv{
    display: block;
    width: 100%;
    background-color: #f44336;
    padding: 10px;
    margin-top: 10px;
}
.content-footer{
    overflow: hidden;
    background-color: aquamarine;
}
*/

.content-container{
    background-image: url('images/4k-wallpaper-bubbles-hd-wallpaper-1452701.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    padding-top: 40vh;
}
.content-container h2{
    display: block;
    background-color: #05aad3;
    font-size: 3.5em;
    color: #dedede;
    font-weight: bold;
}
.content-container p{
    display: block;
    background-color: #034f9775;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: #dedede;
}

/* Content */

/* Loading screen */
#spinContainer{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #808080ad;
}
#spinLoader{
    position:relative;
	width:150px;
	height:150px;
    margin:auto;
    top: 30vh;
}
.hide{
    display: none;
}
.s_loader{
    position:absolute;
	background-color:rgb(255,255,255);
	height:29px;
	width:29px;
	border-radius:15px;
	animation-name:s_loader_name;
	animation-duration:1.2s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}

#s_loader_1{
	left:0;
	top:65px;
	animation-delay:0.45s;
}

#s_loader_2{
	left:19px;
	top:19px;
	animation-delay:0.6s;
}

#s_loader_3{
	left:65px;
	top:0;
	animation-delay:0.75s;
}

#s_loader_4{
	right:19px;
	top:19px;
	animation-delay:0.9s;
}

#s_loader_5{
	right:0;
	top:65px;
	animation-delay:1.05s;
}

#s_loader_6{
	right:19px;
	bottom:19px;
	animation-delay:1.2s;
}

#s_loader_7{
	left:65px;
	bottom:0;
	animation-delay:1.35s;
}

#s_loader_8{
	left:19px;
	bottom:19px;
	animation-delay:1.5s;
}

@keyframes s_loader_name{
	0%{
		background-color:rgb(0,192,213);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
/* Loading screen */